<!-- FINDME -->
<section data-ng-controller="HomeController">
	<div class="jumbotron clearfix">
		<div class="text-uppercase col-md-6">
			<h1 class="lead">The <br>Insect<br> Collection</h1>

			<button class="btn btn-primary btn-lg btn-block">Log In</button>
			<button class="btn btn-default btn-lg btn-block">Sign Up</button>
		</div>
		<google-map class="col-md-6" center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
			<!--<marker ng-repeat="loc in marker.coords" coords="marker.coords" options="marker.options" idkey="marker.id"></marker>-->
            <markers models="randomMarkers" coords="'self'" options="'options'" events="markersEvents"></markers>
		</google-map>
	</div>

	<div class="row">
        <div ng-repeat="sample in sample_bugs" class="col-md-2 text-center">
            <img class="img-circle" style="max-width: 100%; height: 125px;" ng-src="/images/{{sample.pic}}">
            <div>
                <h4>{{sample.name}}</h4>
                <p>Caught By {{sample.caughtBy}}</p>
                <p>Location {{sample.location}}</p>
            </div>
		</div>
    </div>
</section>
