<!-- FINDME -->
<section data-ng-controller="HomeController" class="home">
	<div class="row map">
		<div class="col-md-3">
			<div class="panel panel-default text-center">
				<ul class="list-group">
					<li class="list-group-item">
						<h2 class="text-uppercase">The Insect Collection</h2>
					</li>
					<li class="list-group-item">
						<div data-ng-hide="authentication.user">
							<a id="signin" class="btn btn-primary btn-lg btn-block" ui-route="/signin" ng-class="{active: $uiRoute}" href="/#!/signin">Sign In</a>
							<a id="signup" class="btn btn-default btn-lg btn-block" ui-route="/signup" ng-class="{active: $uiRoute}" href="/#!/signup">Sign Up</a>
						</div>
						<p data-ng-show="authentication.user">
							Hi {{authentication.user.displayName}}!
						</p>
					</li>
				</ul>
			</div>

			<div class="panel panel-default text-center">
				<ul class="list-group">
				    <li class="list-group-item">
						<h2><span class="glyphicon glyphicon-camera"></span></h2>
						<p><strong>Capture.</strong> Take photos.</p>
					</li>
				    <li class="list-group-item">
						<h2><span class="glyphicon glyphicon-cloud-upload"></span></h2>
						<p><strong>Upload.</strong> Organize your collections.</p>
					</li>
				    <li class="list-group-item">
						<h2><span class="glyphicon glyphicon-picture"></span></h2>
						<p><strong>Explore.</strong> View everyones' insects.</p>
					</li>
					<li class="list-group-item">
						<h2><span class="glyphicon glyphicon-user"></span></h2>
						<p><strong>Create Groups.</strong> Organize a class for easy assignment submition.</p>
					</li>
					<li class="list-group-item">
						<h2><span class="glyphicon glyphicon-list"></span></h2>
						<p><strong>Virtual Collections.</strong> Log your finds.</p>
					</li>
				</ul>
			</div>

			<div class="panel panel-default text-center">
				<div class="panel-body">
					<h2>{{totalInsects || 0}}</h2>
					<p>insects and counting.</p>
				</div>
			</div>
		</div>

		<div class="col-md-9">
			<ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.gmap" draggable="true" options="map.options" bounds="map.bounds">
				<ui-gmap-markers models="markers" fit="true" coords="'self'" options="'options'">
					<ui-gmap-windows show="show">
	          			<div class="window" ng-non-bindable>
							<img src="{{options.icon.url}}">
							<h3>
								<a href="#!/insects/{{id}}">{{name}}</a>
							</h3>
							<p class="clearfix">
								<em>{{scientificName}}</em>
								<span>Found by <a href="#!/profile/{{user._id}}">{{user.displayName}}</a></span>
								<span>{{dateFound | date:'longDate'}}</span>
								<span>Location found: {{locationTitle}}</span>
								<br>
								<a href="#!/insects/{{id}}" class="btn btn-primary pull-right" role="button">View</a>
							</p>
						</div>
	      			</ui-gmap-windows>
				</ui-gmap-markers>
			</ui-gmap-google-map>
		</div>
	</div>
</section>
