<!-- FINDME -->
<section data-ng-controller="HomeController">
	<div class="jumbotron">
		<div class="page-header text-uppercase text-center">
			<h1 class="lead">
				<span>
					The Insect Collection
				</span>
			</h1>
		</div>
		<google-map center="map.center" zoom="map.zoom"></google-map>
		<table class = "table table-condensed">
			<td class = "row">
				<th ng-repeat="sample in sample_bugs" class = "col">
					<img style="height: 200px; width=100%;" class = "img-thumbnail img-rounded" ng-src="/images/{{sample.pic}}"/>
				</th>
			</td>
		</table>
	</div>


</section>
