.content .container section[data-ui-view] {
	padding-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.angular-google-map-container { height: 400px; }

section.home .map {height: 500px;}
section.home .map ui-gmap-google-map {position: absolute; top: 50px; left: 0; right: 0;}
section.home .map .angular-google-map-container {height: 500px;}
section.home .info .glyphicon {font-size: 100px; margin-bottom: 25px;}
section.home hr {margin: 50px 0;}

body > footer {margin: 40px 0 30px;}
body > footer hr {margin: 0 0 40px;}

.thumbnail .caption .p {word-wrap: break-word;}

.angular-google-map .window img {max-height: 250px;}
.angular-google-map .window p span, .viewMap .window p em {display: block;}
