<section data-ng-controller="ProfileController" data-ng-init="findUser()">
	<div class="page-header">
		<h1>
			<span data-ng-bind="foundUser.displayName"></span>'s Profile
			<span class="pull-right" data-ng-show="user._id == foundUser._id">
				<a class="btn btn-default" data-ng-href="/#!/settings/profile">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
			</span>
		</h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<dl class="dl-horizontal">
				<dt>About</dt>
				<dd>{{foundUser.userDescription}} <em data-ng-show="!foundUser.userDescription" class="text-muted">{{foundUser.displayName}} hasn't written a description yet.</em></dd>

				<dt>School</dt>
				<dd>{{foundUser.school}}</dd>

				<dt>Class</dt>
				<dd>{{foundUser.classCode}}</dd>

				<dt>Gatorlink</dt>
				<dd>{{foundUser.gatorlink}}</dd>
			</dl>
		</div>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Galleries <span class="badge">3</span></h2>
 				</div>

 				<div class="panel-body">
					<a href="#!/galleries"><img style="height: 75px;" src="/images/bug1.png"></a>
					<a href="#!/galleries"><img style="height: 75px;" src="/images/bug2.jpg"></a>
					<a href="#!/galleries"><img style="height: 75px;" src="/images/bug3.png"></a>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Insects <span class="badge">6</span></h2>
				</div>

				<div class="panel-body">
					<a href="#!/insects"><img style="height: 75px;" src="/images/bug1.png"></a>
					<a href="#!/insects"><img style="height: 75px;" src="/images/bug2.jpg"></a>
					<a href="#!/insects"><img style="height: 75px;" src="/images/bug3.png"></a>
					<a href="#!/insects"><img style="height: 75px;" src="/images/bug4.jpg"></a>
					<a href="#!/insects"><img style="height: 75px;" src="/images/bug5.png"></a>
					<a href="#!/insects"><img style="height: 75px;" src="/images/combee.png"></a>
				</div>
			</div>
		</div>
	</div>
</section>
