<section data-ng-controller="ProfileController" data-ng-init="findUser()">
	<div class="page-header">
		<h1>
			<span data-ng-bind="foundUser.info.displayName"></span>'s Profile
			<span class="pull-right" data-ng-show="user._id == foundUser.info._id">
				<a class="btn btn-default" data-ng-href="/#!/settings/profile">
					<i class="glyphicon glyphicon-pencil"></i> Edit
				</a>
			</span>
		</h1>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<dl class="dl-horizontal">
				<dt>About</dt>
				<dd>{{foundUser.info.userDescription}} <em data-ng-show="!foundUser.info.userDescription" class="text-muted">{{foundUser.info.displayName}} hasn't written a description yet.</em></dd>

				<dt>School</dt>
				<dd>{{foundUser.info.school}}</dd>

				<dt>Class</dt>
				<dd>{{foundUser.info.classCode}}</dd>

				<dt>Gatorlink</dt>
				<dd>{{foundUser.info.gatorlink}}</dd>
			</dl>
		</div>
	</div>

	<div class="panel panel-default hidden">
		<div class="panel-heading">
			<h2 class="panel-title">Galleries <span class="badge" data-ng-bind="foundUser.insects.length"></span></h2>
		</div>

		<div class="panel-body">
			<a href="#!/galleries"><img style="height: 75px;"></a>
			<a href="#!/galleries"><img style="height: 75px;"></a>
			<a href="#!/galleries"><img style="height: 75px;"></a>
		</div>
	</div>

	<div class="page-header">
		<h2>
			<span data-ng-bind="foundUser.info.displayName"></span> Insects
			<span class="badge" data-ng-bind="foundUser.insects.length"></span>
		</h2>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-4 col-lg-3" data-ng-repeat="insect in foundUser.insects">
			<div class="thumbnail">
				<img style="max-height: 350px;" class="center-block" ng-src="{{insect.image.small}}">
				<div class="caption clearfix">
					<h3 data-ng-bind="insect.name"></h3>
					<p>
						{{insect.description}}
						<em data-ng-show="!insect.description" class="text-muted">No description.</em>
					</p>
					<a data-ng-href="#!/insects/{{insect._id}}" class="btn btn-primary pull-right" role="button">View</a>
				</div>
			</div>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="foundUser.insects.length < 1">
		{{foundUser.info.displayName}} hasn't added any insects yet.
	</div>
</section>
