<section data-ng-controller="GroupsController" data-ng-init="findGroup()">
	<div class="page-header">
		<h1>All Groups
			<small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
		</h1>
		<p>
			Join a group to collaborate with fellow insect collectors.
		</p>
	</div>

	<div class="panel panel-default" data-ng-if="groups.length > 0">
		<div class="panel-body">
			<table class="table">
				<thead>
		        	<tr>
						<th width="40%">Name</th>
						<th width="10%">Members</th>
						<!--<th width="10%">Insects</th>-->
						<th width="15%">Owner</th>
						<th width="15%">Created</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="group in groups" data-ng-hide="group.isPrivate == true && group.members.indexOf(authentication.user._id) == -1">
						<!-- data-popover="{{group.description}}" data-popover-placement="top" data-popover-trigger="mouseenter" -->
						<td data-ng-click="showPath('/groups/' + group._id)">
							<a data-ng-href="#!/groups/{{group._id}}" data-ng-bind="group.name"></a>
							<p>{{group.description | limitTo: 100}}{{group.description.length > 100? '...':''}}</p>
						</td>
						<td data-ng-bind="group.members.length"></td>
						<!--<td data-ng-bind="group.insects.length"></td>-->
						<td>
							<a data-ng-bind="group.user.displayName" data-ng-href="/#!/profile/{{group.user._id}}"></a>
						</td>
						<td data-ng-bind="group.created | date:'longDate'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="groups.$resolved && !groups.length">
		No groups yet, why don't you <a href="/#!/groups/create">create one</a>?
	</div>
</section>
