<section data-ng-controller="GalleriesController" data-ng-init="find()">
	<div class="page-header" style="float:left;">
		<h1>About {{authentication.user.username}}</h1>
		<div class="well well-sm text-center">
			<div style="width:400px; float: left; padding: 25px; text-align: justify;"><p>I am a third year entemology student and I gotta catch em all! <br><br>Bugsy (Japanese: ツクシ Tsukushi) is the Gym Leader of Azalea Town's Gym, known officially as the Azalea Gym. He hands out the Hive Badge to Trainers who defeat him. He specializes in Bug-type Pokémon.</p>
			<table class="table" style="max-height: 300px; overflow-y:scroll;">
				<tr>
	       		 	<td class="td">
	       		 		<center>
	       		 		<strong>Gallery 1</strong><br>
	            		<img style="height: 75px;" src="/images/bug1.png">
	            		</center>
	            	</td>
	            	<td class="td">
	            		<center>
	            		<strong>Gallery 2</strong><br>
	            		<img style="height: 75px;" src="/images/bug2.jpg">
	            		</center>
	            	</td>
	            	<td class="td">
	            		<center>
	            		<strong>Gallery 3</strong><br>
	            		<img style="height: 75px;" src="/images/bug3.png">
	            		</center>
	            	</td>
	            </tr>
        	</table>
			</div>
			<img class = "img-thumbnail img-rounded" src="images/sampleuser.png">

		</div>
	</div>
	<div class="well well-sm text-center" style="float:right;">
		<table class="table table-bordered" style="max-height: 300px; overflow-y:scroll;">
			<thead><h2>Caught Insects</h2></thead>
			<tr>
       		 	<td class="td">
            		<img style="height: 125px;" src="/images/bug1.png">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/bug2.jpg">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/bug3.png">
            	</td>
            </tr>
            <tr>
       		 	<td class="td">
            		<img style="height: 125px;" src="/images/bug4.jpg">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/bug5.png">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/combee.png">
            	</td>
            </tr>
            <tr>
       		 	<td class="td">
            		<img style="height: 125px;" src="/images/bug1.png">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/bug2.jpg">
            	</td>
            	<td class="td">
            		<img style="height: 125px;" src="/images/bug2.jpg">
            	</td>
            </tr>
        </table>
    </div>
	<div class="list-group">
		<a data-ng-repeat="gallery in galleries" data-ng-href="#!/galleries/{{galleries._id}}" class="list-group-item">
			<embed ng-src="{{content}}" style="width:200px;height:200px;"></embed>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="galleries.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="galleries.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="galleries.title"></h4>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="galleries.$resolved && !galleries.length">
		No galleries yet, why don't you <a href="/#!/galleries/create">create one</a>?
	</div>
</section>
