<section data-ng-controller="InsectsController" data-ng-init="find()">
	<div class="page-header">
		<h1>About {{authentication.user.username}}</h1>
		<p style="width:400px; float: left; padding: 50px;">I am a third year entemology student and I gotta catch em all!</p>
		<img class = "img-thumbnail img-rounded" src="images/sampleuser.png"></img>
	</div>
	<div class="list-group">
		<a data-ng-repeat="gallery in galleries" data-ng-href="#!/galleries/{{galleries._id}}" class="list-group-item">
			<embed ng-src="{{content}}" style="width:200px;height:200px;"></embed>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="galleries.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="galleries.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="galleries.title"></h4>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="galleries.$resolved && !galleries.length">
		No galleries yet, why don't you <a href="/#!/galleries/create">create one</a>?
	</div>
</section>
