<section data-ng-controller="InsectsController" data-ng-init="find()">
	<div class="page-header">
		<h1>Galleries</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="gallery in galleries" data-ng-href="#!/galleries/{{galleries._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="galleries.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="galleries.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="galleries.title"></h4>
			<p class="list-group-item-text" data-ng-bind="galleries.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="galleries.$resolved && !galleries.length">
		No galleries yet, why don't you <a href="/#!/galleries/create">create one</a>?
	</div>
</section>
