<section data-ng-controller="InsectsController" data-ng-init="createPage()">
	<div class="page-header">
		<h1>New Insect</h1>
	</div>

	<form name="insectForm" data-ng-submit="create()" novalidate>
		<fieldset data-ng-hide="form.reviewForm || form.uploadingForm">
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Photo</h2>
						</div>

						<div class="panel-body">
							<div class="form-group">
								<label for="photoUpload">File</label>
								<input id="photoUpload" type="file" data-valid-file data-ng-model="form.photoUpload" class="form-control" accept="image/*" data-ng-required="true" data-ng-file-select="form.image = $files[0]; form.photoPreview();">
							</div>
							<div class="form-group">
								<label for="dateFound">Date Found</label>
								<div class="input-group">
									<input id="dateFound" type="text" class="form-control" data-datepicker-popup="{{datePicker.format}}" data-ng-model="form.dateFound" data-is-open="datePicker.opened" data-min-date="datePicker.minDate" data-max-date="datePicker.maxDate" data-datepicker-options="datePicker.options"  data-ng-required="true" data-close-text="Close">
									<span class="input-group-btn">
										<button type="button" class="btn btn-default" data-ng-click="datePicker.open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">About</h2>
						</div>

						<div class="panel-body">
							<div class="form-group">
								<label for="name">Name</label>
								<input id="name" type="text" data-ng-model="form.name" class="form-control" placeholder="Name" required>
							</div>
							<div class="form-group">
								<label class="control-label" for="scientificName">Scientific Name</label>
								<div class="controls">
									<input type="text" data-ng-model="form.scientificName" id="scientificName" class="form-control" placeholder="Scientific Name" required>
								</div>
							</div>
							<div class="form-group">
								<label for="locationTitle">Location</label>
								<input id="locationTitle" type="text" data-ng-model="form.locationTitle" class="form-control" placeholder="Place" required>
							</div>
							<div class="form-group">
								<label class="control-label" for="description">Description</label>
								<div class="controls">
									<textarea data-ng-model="form.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Other</h2>
						</div>

						<div class="panel-body">
							<div class="form-group">
								<label class="control-label" for="commentsEnabled">
									<input data-ng-model="form.commentsEnabled" id="commentsEnabled" type="checkbox" checked> Enable comments
								</label>
							</div>
							<!--<div class="form-group">
								<label class="control-label" for="validationEnabled">
									<input data-ng-model="form.validationEnabled" id="validationEnabled" type="checkbox" checked> Enable validation <strong>(DEBUG ONLY)</strong>
								</label>
							</div>-->
						</div>
					</div>
				</div>
				<div class="form-group col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Location</h2>
						</div>

						<div class="panel-body">
							<label class="control-label">
								Place found
								<span data-ng-show="form.coordsSet" class="glyphicon glyphicon-ok" style="color: #3c763d;"></span>
							</label>
							<input type="text" class="form-control hidden" data-ng-model="form.loc.coordinates.latitude" data-ng-required="true">
							<input type="text" class="form-control hidden" data-ng-model="form.loc.coordinates.longitude" data-ng-required="true">
							<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" events="map.events" bounds="map.bounds" control="map.gmap">
								<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
							</ui-gmap-google-map>
						</div>
					</div>
				</div>
			</div>

			<div class="text-right">
				<a class="btn btn-default" data-ng-href="/#!/insects">Cancel</a>
				<a class="btn btn-primary" data-ng-disabled="insectForm.$invalid" data-ng-click="form.reviewForm = true; error = ''">Next</a>
			</div>
		</fieldset>

		<fieldset data-ng-show="form.reviewForm">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Review your data</h2>
				</div>

				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Name</dt>
						<dd>{{form.name}}</dd>

						<dt>Scientific Name</dt>
						<dd>{{form.scientificName}}</dd>

						<dt>Caught By</dt>
						<dd>{{authentication.user.displayName}}</dd>

						<dt>Date Found</dt>
						<dd>{{form.dateFound | date:'mediumDate'}}</dd>

						<dt>Location</dt>
						<dd>{{form.locationTitle}}</dd>

						<dt>Description</dt>
						<dd>{{form.description}} <em data-ng-show="!form.description" class="text-muted">No description.</em></dd>

						<dt>Comments Enabled</dt>
						<dd>{{(form.commentsEnabled)? "Yes":"No"}}</dd>
					</dl>
				</div>
			</div>

			<div class="text-right">
				<a class="btn btn-default" data-ng-click="form.reviewForm = false; form.uploadingForm = false;">Back</a>
				<button class="btn btn-primary" ng-disabled="form.uploadingForm">Submit</button>
			</div>
		</fieldset>

		<fieldset data-ng-show="form.uploadingForm">
			<progressbar class="progress-striped" data-ng-class="form.progress.active? 'active':''" type="{{form.progress.type}}" max="form.progress.max" value="form.progress.current">
				<span>{{form.progress.task}} {{form.progress.current}}%</span>
			</progressbar>

			<div data-ng-show="error" class="alert alert-danger" role="alert">
				<strong data-ng-bind="error"></strong>
			</div>

			<div class="text-right">
				<a class="btn btn-default" data-ng-disabled="!error" data-ng-click="form.reset()">Back</a>
			</div>
		</fieldset>
	</form>
</section>
