<section data-ng-controller="InsectsController">
	<div class="page-header">
		<h1>New Insect</h1>
	</div>
	<div class="col-md-12">
		<form name="insectForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': insectForm.title.$dirty && insectForm.title.$invalid }">
					<label class="control-label" for="photo">Photo</label>
					<div class="controls">
						<input type="file" name="photo" accept="image/*">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dateTaken">Date Taken</label>
					<div class="input-group">
		            	<input name="dateTaken" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close">
		            	<span class="input-group-btn">
		                	<button type="button" class="btn btn-default" ng-click="open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
		            	</span>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="dateTaken">Place found</label>
					<!--<input name="locationCoordinates" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>-->
					<google-map class="col-md-6" center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds">
						<marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></marker>
					</google-map>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>

		<form name="insectForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': insectForm.title.$dirty && insectForm.title.$invalid }">
					<label class="control-label" for="name">Name</label>
					<div class="controls">
						<input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="scientificName">Scientific Name</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="scientificName" id="scientificName" class="form-control" placeholder="Scientific Name" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
