<section data-ng-controller="InsectsController">
	<div class="page-header">
		<h1>New Insect</h1>
	</div>

	<div class="col-md-12">
		<form name="insectForm" data-ng-submit="create()" novalidate>
			<fieldset data-ng-hide="reviewForm">
				<h2>Photo</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="photoUpload">Photo</label>
							<input id="photoUpload" type="file" data-valid-file data-ng-model="form.photoUpload" class="form-control" accept="image/*" data-ng-required="true" data-ng-file-select="form.image = $files[0]; form.photoPreview();">
						</div>
						<div class="form-group">
							<label for="dateFound">Date Found</label>
							<div class="input-group">
								<input id="dateFound" type="text" class="form-control" data-datepicker-popup="{{datePicker.format}}" data-ng-model="form.dateFound" data-is-open="datePicker.opened" data-min-date="datePicker.minDate" data-max-date="datePicker.maxDate" data-datepicker-options="datePicker.options"  data-ng-required="true" data-close-text="Close">
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" data-ng-click="datePicker.open($event)">
										<i class="glyphicon glyphicon-calendar"></i>
									</button>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label for="locationTitle">Location</label>
							<input id="locationTitle" type="text" data-ng-model="form.location.title" class="form-control" placeholder="Place" required>
						</div>
						<h2>Info</h2>
						<div class="form-group">
							<label for="name">Name</label>
							<input id="name" type="text" data-ng-model="form.name" class="form-control" placeholder="Name" required>
						</div>
						<div class="form-group">
							<label class="control-label" for="scientificName">Scientific Name</label>
							<div class="controls">
								<input type="text" data-ng-model="form.scientificName" id="scientificName" class="form-control" placeholder="Scientific Name" required>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="description">Description</label>
							<div class="controls">
								<textarea data-ng-model="form.description" id="description" class="form-control" cols="30" rows="10" placeholder="Description"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label" for="commentsEnabled">
								<input data-ng-model="form.commentsEnabled" id="commentsEnabled" type="checkbox" checked> Enable comments
							</label>
						</div>
					</div>
					<div class="form-group col-md-6">
						<label class="control-label">
							Place found
							<span data-ng-show="form.coordsSet" class="glyphicon glyphicon-ok" style="color: #3c763d;"></span>
						</label>
						<input type="text" class="form-control hidden" data-ng-model="form.location.coordinates.latitude" data-ng-required="true">
						<input type="text" class="form-control hidden" data-ng-model="form.location.coordinates.longitude" data-ng-required="true">
						<google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" bounds="map.bounds">
							<marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></marker>
						</google-map>
					</div>
				</div>

				<div class="text-right">
					<a class="btn btn-default" data-ng-click="form.cancel()">Cancel</a>
					<a class="btn btn-primary" data-ng-disabled="insectForm.$invalid" data-ng-click="reviewForm = true">Next</a>
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>

			<fieldset data-ng-show="reviewForm">
				<h2>Review your data</h2>

				<img ng-src="{{form.photoPreviewUrl}}" alt="Photo Preview">

				<dl class="dl-horizontal">
					<dt>Name</dt>
					<dd>{{form.name}}</dd>

					<dt>Scientific Name</dt>
					<dd>{{form.scientificName}}</dd>

					<dt>Caught By</dt>
					<dd>{{authentication.user.displayName}}</dd>

					<dt>Date Found</dt>
					<dd>{{form.dateFound | date:'mediumDate'}}</dd>

					<dt>Location</dt>
					<dd>{{form.location.title}}</dd>

					<dt>Coordinates</dt>
					<dd>{{form.location.coordinates.latitude}}, {{form.location.coordinates.longitude}}</dd>

					<dt>Description</dt>
					<dd>{{form.description}}</dd>

					<dt>Comments Enabled</dt>
					<dd>{{(form.commentsEnabled)? "Yes":"No"}}</dd>
				</dl>
				<div class="text-right">
					<a class="btn btn-default" data-ng-click="reviewForm = false">Back</a>
					<button class="btn btn-primary" data-loading-text="Creating">Submit</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>
