<section data-ng-controller="InsectsController" data-ng-init="find()">
	<div class="page-header">
		<h1><span data-ng-hide="foundUser">All Insects</span>
			<span data-ng-show="foundUser">
				<a data-ng-href="#!/profile/{{foundUser._id}}">{{foundUser.displayName}}</a>'s Insects ({{pagination.totalItems}})
			</span>

			<span class="pull-right">
				<a class="btn btn-default" data-ng-href="/#!/insects/create" data-ng-show="authentication.user._id">
					<i class="glyphicon glyphicon-plus"></i> New Insect
				</a>
				<a class="btn btn-default" data-ng-href="/#!/insects/map">
					<i class="glyphicon glyphicon-globe"></i> View Map
				</a>
			</span>
		</h1>

		<div class="row">
			<div class="col-md-3">
				Sort by Gallery:
			  	<span class="nullable">
			    	<select data-ng-model="galleryName" ng-options="gallery.name for gallery in gallerys">
			      		<option value="">-- No gallery selected --</option>
			    	</select>
			  	</span>
			</div>
			<div class="col-md-3">
		 		<form name="insectForm" data-ng-submit="addGallery(thisGallery.content)" novalidate style="display: inline-block;">
					<fieldset>
						<span class="form-group" ng-class="{'has-error' : submitted && insectForm.galleryName.$invalid}">
		 					Add Gallery {{gallery}}:
							<textarea class="form-control ng-pristine ng-valid" rows="3" style="height:3em" data-ng-model="thisGallery.content"></textarea>
							<input type="submit" value="+" class="btn btn-mini btn-primary" data-ng-disabled="insectForm.$invalid" data-ng-submit="addGallery(this)">
		 				</span>
		 			</fieldset>
				</form>
			</div>
		</div>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="insects.$resolved && !insects.length">
		No insects yet, why don't you <a href="/#!/insects/create">create one</a>?
	</div>

	<div class="row">
		<div data-ng-repeat="insect in insects | filter:insect.galleryName" class="col-sm-6 col-md-4 col-lg-3">
			<div class="thumbnail">
				<a data-ng-href="#!/insects/{{insect._id}}">
					<img style="max-height: 350px;" class="center-block" ng-src="{{insect.image.small}}">
				</a>
				<div class="caption clearfix">
					<h3><a data-ng-href="#!/insects/{{insect._id}}" data-ng-bind="insect.name"></a></h3>
					<p>
						<em data-ng-bind="insect.scientificName" style="display: block;"></em>
						<span data-ng-show="insect.user" style="display: block;">Found by <a data-ng-href="#!/profile/{{insect.user._id}}">{{insect.user.displayName}}</a></span>
						<span data-ng-bind="insect.description"></span><br>
						<span>Gallery: {{insect.galleryName.name}}</span>
					</p>

					<form name="insectForm" data-ng-submit="updateGallery(insect)" novalidate>
						<fieldset>
						<div class="form-group" ng-class="{'has-error' : submitted && insectForm.galleryName.$invalid}">
						Add to Gallery: {{$scope.newGallery}}
						  <span class="nullable">
						    <select name="galleryName" data-ng-model="insect.galleryName" id="galleryName"  class="form-control" ng-options="gallery.name for gallery in gallerys">
						      <option value="">-- No gallery --</option>
						    </select>
							</input>
						  </span><br/>
						  	<div class="form-group">
							<input type="submit" value="Update" class="btn btn-primary" data-ng-disabled="insectForm.$invalid">
							</div>
						</div>
					</fieldset>

				</form>
				<a data-ng-href="#!/insects/{{insect._id}}" class="btn btn-primary" role="button">View</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center" data-ng-if="insects.length">
		<pagination total-items="pagination.totalItems" items-per-page="pagination.itemsPerPage" data-ng-model="pagination.currentPage" data-ng-change="pagination.pageChanged()"></pagination>
	</div>
</section>