<section data-ng-controller="InsectsController" data-ng-init="find()">
	<div class="page-header">
		<h1>All Insects</h1>
		<br>
		  Gallery:
		  <span  class="nullable">
		    <select ng-model="gallery" ng-options="gallery.name for gallery in gallerys">
		      <option value="">-- choose gallery --</option>
		    </select>
		  </span><br/>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="insects.$resolved && !insects.length">
		No insects yet, why don't you <a href="/#!/insects/newCreate">create one</a>?
	</div>

	<div class="row">
		<div data-ng-repeat="insect in insects | filter:gallery" class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<img style="width: 100%; max-height: 300px;" class="pull-left" ng-src="{{insect.image.data}}">
				<div class="caption clearfix">
					<h3 data-ng-bind="insect.name"></h3>
					<p>
						{{insect.description}}
						<em data-ng-show="!insect.description" class="text-muted">No description.</em>
					</p>
					<p class="text-right"><a data-ng-href="#!/insects/{{insect._id}}" class="btn btn-primary" role="button">View</a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center">
		<ul class="pagination pagination-lg" data-ng-if="insects.length">
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<!--<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>-->
			<li class="disabled"><a href="#">&raquo;</a></li>
		</ul>
	</div>
</section>
