<section data-ng-controller="InsectsController" data-ng-init="findOne()" class="viewInsects">
    <div data-ng-show="insect404">
        <h1>We couldn't find that insect.</h1>
        <p>You might have followed an incorrect URL, or that insect may have been deleted.</p>
    </div>

    <div data-ng-hide="insect404">

    <div class="photo text-center">
        <div class="photo-container">
            <img data-ng-src="{{insect.image.large}}">
            <div class="btn-group" dropdown is-open="downloadButton.isopen">
                <button type="button" class="btn btn-default dropdown-toggle">
                    <i class="glyphicon glyphicon-save"></i> Download <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a data-ng-click="insectDownload('small');">Thumbnail</a></li>
                    <li><a data-ng-click="insectDownload('medium');">Medium</a></li>
                    <li><a data-ng-click="insectDownload('large');">Large</a></li>
                    <!--<li class="divider" data-ng-show="authentication.user._id == insect.user._id">></li>
                    <li><a data-ng-click="insectDownload('original');" data-ng-show="authentication.user._id == insect.user._id">Original</a></li>-->
                </ul>
            </div>
        </div>
    </div>

    <div class="page-header clearfix">
        <div data-ng-show="error" class="alert alert-danger" role="alert">
            <strong data-ng-bind="error"></strong>
        </div>

        <h1>
            {{insect.name}} <small>{{insect.scientificName}}</small>
            <small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
            <span class="pull-right">
                <a class="btn btn-default" data-ng-click="generatePDF();" id="pdfClik">
                    <i class="glyphicon glyphicon-print"></i> PDF
                </a>
                <span data-ng-show="authentication.user._id == insect.user._id">
                    <a class="btn btn-default" data-ng-href="/#!/insects/{{insect._id}}/edit">
                        <i class="glyphicon glyphicon-pencil"></i> Edit
                    </a>
                    <div class="btn-group" dropdown is-open="deleteButton.isopen">
                        <button type="button" class="btn btn-danger dropdown-toggle">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li class="dropdown-header">You are about to delete this insect.</li>
                            <li><a data-ng-click="remove();">Delete</a></li>
                            <li><a data-ng-click="deleteButton.isopen = false;">Cancel</a></li>
                        </ul>
                    </div>
                </span>
            </span>
        </h1>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">About</h2>
                </div>

                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{insect.name}}</dd>

                        <dt>Scientific Name</dt>
                        <dd>{{insect.scientificName}}</dd>

                        <dt>Found By</dt>
                        <dd><a data-ng-href="#!/profile/{{insect.user._id}}">{{insect.user.displayName}}</a></dd>

                        <dt>Date Found</dt>
                        <dd>{{insect.dateFound | date:'longDate'}}</dd>

                        <dt>Location</dt>
                        <dd>{{insect.locationTitle}}</dd>

                        <dt>Description</dt>
                        <dd>{{insect.description}} <em data-ng-show="!insect.description" class="text-muted">No description.</em></dd>
                    </dl>
                </div>
            </div>

            <div data-ng-show="insect.commentsEnabled">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Comments</h2>
                    </div>

                    <div class="panel-body">
                        <p data-ng-hide="insect.comments">There are no comments for this insect.</p>

                        <div class="panel panel-info" data-ng-repeat="comment in insect.comments">
                            <div class="panel-heading">
                                <a data-ng-href="#!/profile/{{comment.user._id}}" data-ng-bind="comment.user.displayName"></a>
                                <span class="pull-right" data-ng-bind="comment.created | date:'MMMM d, y h:mm a'"></span>
                            </div>
                            <div class="panel-body">
                                {{comment.content}}
                                <em data-ng-show="!comment.content">No content.</em>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" data-ng-show="authentication.user">
                    <div class="panel-heading">
                        <h2 class="panel-title">Add a new Comment
                            <span class="pull-right">Commenting as <strong>{{authentication.user.displayName}}</strong></span>
                        </h2>
                    </div>

                    <div class="panel-body">
                        <div data-ng-show="comment.error" class="alert alert-danger" role="alert">
                            <strong data-ng-bind="comment.error"></strong>
                        </div>

                        <form name="insectComment" class="form-horizontal" data-ng-submit="comment.add(insectComment.$valid)">
                            <fieldset>
                                <textarea name="comment" id="content" class="form-control" cols="25" rows="7" placeholder="Write a comment." data-ng-model="comment.content" required></textarea><br>
                                <input type="submit" value="Submit" id="gogo" class="btn btn-primary pull-right">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" data-ng-show="!insect.commentsEnabled">
                <div class="panel-heading">
                    <h2 class="panel-title">Comments</h2>
                </div>

                <div class="panel-body">
                    <p data-ng-show="authentication.user._id != insect.user._id">
                        Commenting for this insect has been disbabled.
                    </p>
                    <p data-ng-show="authentication.user._id == insect.user._id">
                        You have disabled commenting for this insect.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Location Found</h2>
                </div>

                <div class="panel-body">
                    <ui-gmap-google-map center="insectMap.center" zoom="insectMap.zoom" draggable="true" options="insectMap.options" bounds="insectMap.bounds">
                        <ui-gmap-marker coords="insectMarker.coords" options="insectMarker.options" events="insectMarker.events" idkey="insectMarker.id"></ui-gmap-marker>
                    </ui-gmap-google-map>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
