<section data-ng-controller="InsectsController" data-ng-init="map()" class="viewMap">
    <div class="page-header">
        <h1>
            <span data-ng-hide="foundUser">All Insects <small>{{markers.length}} loaded</small></span>
            <span data-ng-show="foundUser">
                <a data-ng-href="#!/profile/{{foundUser._id}}">{{foundUser.displayName}}</a> <small>Insects, {{markers.length}} loaded</small>
            </span>
            <small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
            <span class="pull-right">
                <a class="btn btn-default" data-ng-href="/#!/insects/create" data-ng-show="authentication.user">
                    <i class="glyphicon glyphicon-plus"></i> New Insect
                </a>
                <span class="btn-group" role="group" data-ng-hide="foundUser">
                    <a class="btn btn-default" data-ng-href="/#!/insects">
                        <i class="glyphicon glyphicon-th-large"></i> List
                    </a>
                    <a class="btn btn-primary active" data-ng-href="/#!/insects/map" disabled="disabled">
                        <i class="glyphicon glyphicon-globe"></i> Map
                    </a>
                </span>
                <span class="btn-group" role="group" data-ng-show="foundUser">
                    <a class="btn btn-default" data-ng-href="/#!/insects/user/{{foundUser._id}}">
                        <i class="glyphicon glyphicon-th-large"></i> List
                    </a>
                    <a class="btn btn-primary active" data-ng-href="/#!/insects/map/user/{{foundUser._id}}" disabled="disabled">
                        <i class="glyphicon glyphicon-globe"></i> Map
                    </a>
                </span>
            </span>
        </h1>
    </div>

    <ui-gmap-google-map center="map.center" zoom="map.zoom" control="map.gmap" draggable="true" options="map.options" bounds="map.bounds">
        <ui-gmap-markers models="markers" coords="'self'" options="'options'">
            <ui-gmap-windows show="show">
                <div class="window" ng-non-bindable>
                    <img src="{{options.icon.url}}">
                    <h3>
                        <a href="#!/insects/{{id}}">{{name}}</a>
                    </h3>
                    <p class="clearfix">
                        <em>{{scientificName}}</em>
                        <span>Found by <a href="#!/profile/{{user._id}}">{{user.displayName}}</a></span>
                        <span>{{dateFound | date:'longDate'}}</span>
                        <span>Location found: {{locationTitle}}</span>
                        <br>
                        <a href="#!/insects/{{id}}" class="btn btn-primary pull-right" role="button">View</a>
                    </p>
                </div>
              </ui-gmap-windows>
        </ui-gmap-markers>
    </ui-gmap-google-map>
</section>
