<section data-ng-controller="NotesController" data-ng-init="createPage()">
	<div class="page-header">
		<h1>New Fieldnote</h1>
	</div>

	<h3>When writing a fieldnote</h3>
	<ul>
		<li>Describe the social environment and the way in which participants interacted within the setting. This may include patterns of interactions, frequency of interactions, direction of communication patterns [including non-verbal communication], and decision-making patterns.</li>
		<li>Describe the physical setting.</li>
		<li>Describe the participants and their roles in the setting.</li>
		<li>Record exact quotes or close approximations of comments that relate directly to the purpose of the study.</li>
		<li>Describe, as best you can, the meaning of what was observed from the perspectives of the participants.</li>
		<li>Describe any impact you might have had on the situation you observed.</li>
	</ul>

	<div class="col-md-12">
		<form name="noteForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': noteForm.title.$dirty && noteForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="text" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="content">Content</label>
					<div class="controls">
						<textarea name="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content" ui-tinymce data-ng-model="tinymceModel"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
