<section data-ng-controller="NotesController" data-ng-init="find()" class="listNotes">
	<div class="page-header">
		<h1>My Field Notes
			<small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
			<span class="pull-right">
				<a class="btn btn-default" data-ng-href="/#!/notes/create">
					<i class="glyphicon glyphicon-plus"></i> New Field Note
				</a>
			</span>

		</h1>
		<p>
			Field notes help you to keep track of insect identification, date and location information in a data sheet like format. <br>Keep a summary of your bug collecting!
		</p>
	</div>

	<div class="row note" data-ng-repeat="note in notes">
		<div class="col-md-2">
			<h4>{{note.created | date:'longDate'}}</h4>
		</div>

		<div class="col-md-10">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><a data-ng-href="#!/notes/{{note._id}}">{{note.title}}</a></h2>
				</div>

				<div class="panel-body">
					<img data-ng-repeat="insect in note.insects" data-ng-src="{{insect.image.small}}" style="max-width: 80px; margin-right: 15px;">
					<em data-ng-if="!note.insects.length">
						No insects in this field note.
					</em>
				</div>
			</div>
		</div>
	</div>

	<div data-ng-if="notes.$resolved && notes.length" class="text-center">
		<p>End of notes.</p>
	</div>

	<div class="alert alert-warning text-center" data-ng-if="notes.$resolved && !notes.length">
		You haven't created any field notes yet.
	</div>
</section>
