<section data-ng-controller="NotesController" data-ng-init="findOne()">
	<div class="page-header">
		<div data-ng-show="error" class="alert alert-danger" role="alert">
			<strong data-ng-bind="error"></strong>
		</div>

		<h1>{{note.title}} <small>Field Note</small>
			<small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
			<span class="pull-right">
				<span data-ng-show="authentication.user._id == note.user._id">
					<a class="btn btn-default" href="/#!/notes/{{note._id}}/edit">
						<i class="glyphicon glyphicon-pencil"></i> Edit
					</a>
					<div class="btn-group" dropdown is-open="deleteButton.isopen">
						<button type="button" class="btn btn-danger dropdown-toggle">
							<i class="glyphicon glyphicon-trash"></i> Delete
						</button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li class="dropdown-header">You are about to delete this field note.</li>
							<li><a data-ng-click="remove();">Delete</a></li>
							<li><a data-ng-click="deleteButton.isopen = false;">Cancel</a></li>
						</ul>
					</div>
				</span>
			</span>
		</h1>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">{{note.created | date:'longDate'}}</h2>
				</div>

				<div class="panel-body">
					<p data-ng-show="note.content" data-ng-bind-html="note.content"></p> <em data-ng-show="!note.content" class="text-muted">No content.</em>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="row">
				<div data-ng-repeat="insect in note.insects" class="col-sm-4 col-md-6 col-lg-6">
					<div class="thumbnail">
						<a data-ng-href="#!/insects/{{insect._id}}">
							<img style="max-height: 350px;" class="center-block" ng-src="{{insect.image.small}}">
						</a>
						<div class="caption clearfix">
							<h3><a data-ng-href="#!/insects/{{insect._id}}" data-ng-bind="insect.name"></a></h3>
							<p>
								<em data-ng-bind="insect.scientificName" style="display: block;"></em>
								<!--<span data-ng-show="insect.user" style="display: block;">Found by <a data-ng-href="#!/profile/{{insect.user._id}}">{{insect.user.displayName}}</a></span>-->
								<span data-ng-bind="insect.dateFound | date:'longDate'"></span>
							</p>
							<a data-ng-href="#!/insects/{{insect._id}}" class="btn btn-primary pull-right" role="button">View</a>
						</div>
					</div>
				</div>

				<div class="alert alert-warning text-center" data-ng-if="!note.insects.length">
					No insects in this field note.
				</div>
			</div>
		</div>
	</div>
</section>
