<section data-ng-controller="CollectionsController" class="collection" data-ng-init="createPage()">
	<div class="page-header">
		<h1>New Collection</h1>
	</div>

	<form name="collectionForm" class="form-horizontal" data-ng-submit="create()" novalidate>
		<fieldset>
			<div data-ng-show="error" class="alert alert-danger" role="alert">
				<strong data-ng-bind="error"></strong>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="panel-title">Info</h2>
						</div>

						<div class="panel-body">
							<div data-ng-class="{ 'has-error': collectionForm.name.$dirty && collectionForm.name.$invalid }">
								<label class="control-label" for="name">Name</label>
								<div class="controls">
									<input name="name" type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
								</div>
							</div>
							<div>
								<label class="control-label" for="description">About</label>
								<div class="controls">
									<textarea name="description" data-ng-model="description" id="description" class="form-control" cols="20" rows="2" placeholder="Description"></textarea>
								</div>
							</div>
							<div ng-class="{ 'has-error': collectionForm.commentsEnabled.$dirty && collectionForm.commentsEnabled.$invalid }">
								<label class="control-label" for="commentsEnabled">
									<input name="commentsEnabled" data-ng-model="commentsEnabled" id="commentsEnabled" type="checkbox"> Enable comments
								</label>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6 addImage">
					<label class="control-label" for="description">Insects to add</label>
					<h2>
						<small data-ng-show="loading"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></small>
					</h2>
					<div class="row">
						<div class="col-md-2" data-ng-repeat="insect in insects">
							<input type="checkbox" id="{{insect._id}}">
							<label for="{{insect._id}}" data-ng-click="addInsect(insect)" tooltip="{{insect.name}}" id="{{insect.name}}">
								<span class="glyphicon glyphicon-ok glypher"></span>
								<img data-ng-src="{{insect.image.small}}">
							</label>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary pull-right" id="goButton">
			</div>
		</fieldset>
	</form>
</section>
