<section data-ng-controller="GallerysController" data-ng-init="find()">
	<div class="page-header">
		<h1>Gallerys</h1>
	</div>
	<div class="list-group">
		<a data-ng-repeat="gallery in gallerys" data-ng-href="#!/insects" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="gallery.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="gallery.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="gallery.title"></h4>
			<p class="list-group-item-text" data-ng-bind="gallery.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center" data-ng-if="gallerys.$resolved && !gallerys.length">
		No gallerys yet, why don't you <a href="/#!/gallerys/create">create one</a>?
	</div>
</section>